hw1/pima-indians-diabetes.data
hw1/processed-cleveland.data
hw1/ssaxen4_hw1.zip
hw2/K9.data
hw2/20K_K9.csv
*.swp
hw3/batches.meta
hw3/data_batch_1
hw3/data_batch_2
hw3/data_batch_3
hw3/data_batch_4
hw3/data_batch_5
hw3/test_batch

hw3/data/*

hw4/brunhild.txt
hw4/physical.txt